
.content{
	margin:3em;
}
.content_left{
	float:left;
	margin-right:5em;	
}
/* .imgshow{
	height:20em;
	weight:20em;
} */
.showmess{
	border:0em;
	width:40em;
	height:26.5em;
}
.content_right{
	
}
#addcartbutton{
	width:8.5em;
	height:3em;
	border-radius:1em; 
	color:white;
	background:red;
}
#buybutton{
	width:8.5em;
	height:3em;
	border-radius:1em; 
	color:red;
	background:white; 
	font-weight:bold;
}

#goodnametitle{
	font-size:1.3em;
	color:black;
}
#goodname_e{
	font-size:1.8em;
	color:black;
	font-weight:bold;
}

#goodbrand_e{
	font-size:1.7em;
	color:red;
	font-weight:bold;
}
#goodintroduce_e{
	font-size:2.25em;
	color:#c0c0c0;
	font-weight:bold;
}
#goodprice_e{
	font-size:3.1em;
	color:red;
	font-weight:bold;
}
.all_buttom{
	margin-top:2em;
}
.sheetshow_pricedel{
	color:#c0c0c0;
}
a{
	font-size:1.5em
}
