
.content{
	margin:30px;
}
.content_left{
	float:left;
	margin-right:50px;	
}
/* .imgshow{
	height:200px;
	weight:200px;
} */
.showmess{
	border:0px;
	width:400px;
	height:265px;
}
.content_right{
	
}
#addcartbutton{
	width:85px;
	height:30px;
	border-radius:10px; 
	color:white;
	background:red;
}
#buybutton{
	width:85px;
	height:30px;
	border-radius:10px; 
	color:red;
	background:white; 
	font-weight:bold;
}

#goodnametitle{
	font-size:13px;
	color:black;
}
#goodname_e{
	font-size:18px;
	color:black;
	font-weight:bold;
}

#goodbrand_e{
	font-size:17px;
	color:red;
	font-weight:bold;
}
#goodintroduce_e{
	font-size:22.5px;
	color:#c0c0c0;
	font-weight:bold;
}
#goodprice_e{
	font-size:31px;
	color:red;
	font-weight:bold;
}
.all_buttom{
	margin-top:20px;
}
.sheetshow_pricedel{
	color:#c0c0c0;
}
a{
	font-size:15px
}
