@charset "UTF-8";
.mansheetcontent_all{
	margin-top:30px;
	width:100%;
	height:900px;
}
.mansheet{
	border: 1px solid #efefef;
	border-top:none;
	height:478px;
	width:100%;
}
.mansheet_band_title{
	background:black;
	color:white;
	width:50px;
	height:50px;
	border: 1px solid white;
}
.mansheet_title_left{
	font-weight:bold;
	color:block;
	font-size:20px;
}
.mansheet_title_right{
	float:right;
	background:black;
	color:white;
	font-size:20px;
	font-weight:bold;
	
}
.mansheet_band{
	margin:00px auto;
	margin-left:5px;
}
.mansheet_band_logo{
	float:left;
	width:20%;
}
.mansheet_image{
	float:left;
	margin-left:20px;
	margin-right:5px;
	width:25%;
}
.mansheet_image_text_div{
	/* width:25%; */
}
.mansheet_show{
	float:right;
	margin-right:10px;
	width:40%;
"F:/desktop/hibernate思维导图.png"	
}
.mansheet_show_line{
	border:1px solid black;
	color:black;
}
.personalshow_introduce{
	text-decoration:none;
	color:black;
}
.show_list_dl{
	width:250px;
}
.manshow_imagetext{
	background:pink;
	color:white;
	font-weight:bold;
}
.sheetimage_text_a{
	text-decoration:none;
}
.sheet_show_toptext{
	color:black;
	font-weight:bold;
}
.sheet_show_buttom{
	color:#c0c0c0;
}
.sheetshow_price{
	color:red;
}
.sheetshow_pricedel{
	color:#c0c0c0;
}
.sportsheet{
	float:left;
	width:100%;
	border: 1px solid #efefef;
	border-top:none;
	margin-top:35px;
}
.mansheet_image{
	border:0px solid #efefef;
}
.sheetimage_text_a{
	text-decoration:none;
}
.find_good_content_show{
	height:800px;
	width:100%;
}
#findItems_content_page_div{
	margin-top:100px;
}
#findItems_content_items_div{
	width:260px;
	
	
}