.content_all{
	width:100%;
	height:650px;
}
.login_top{
	height:13%;
}
.login_top_image{
	float:left;
}
.login_top_title{
	float:right;
	margin-buttom:2px;
	font-size:15px;
}
.login_top_title a{
	text-decoration:none;
	color:black;
	font-family:"华文仿宋";
	font-size:13pt;
}
.login_content{
	height:600px;
	width:100%;
	text-align:center;
	background-image:url(../images/background/sheet.jpg);
	background-repeat:no-repeat; 
	background-size:100% 90%;
	/* background-attachment:fixed; */
}
.login_buttom{
	height:10%;
}
.button{
	height:37px;
	width:365px; 
	background:#ffff00;
	border:none;
	border-radius:5px;	
}		
.button:active{
	background:#ff8040;
	color:black;
	font-weight;bold;
}
.button:hover{
	background:#ff8000;
	color:black;
	font-weight;bold;
}
.text,.textpass{
	height:40px;
	width:300px;
	border-left:none;
	border-top:none;
	border-right:none;
	padding-left:70px;	
}
.login_title{
	font-size:30px;
	text-align:center;
	margin-top:10px;
	margin-right:150px;
}
.text,.button,,.textpass{
	margin-right:50px;
	border-radius:5px;
}
.logo_top a{
	text-decoration:none;	
	font-size:15px;	
	font-weight:bold;
}
.text{
	background:url(../images/background/head.png) no-repeat 0 center;
}
.textpass{
	background:url(../images/background/suo.png) no-repeat 0 center;
}
.alllogin{
	margin-top:70px;
	width:380px;
	height:350px;
	float:right;
	background:hsla(0,0%,100%,1);
	text-align:right;
	border-radius:5px;	
	margin-right:40px;
	opacity:1;
}

.input_login{
	margin-right:40px;
	margin-bottom: 15px;
}

.login_resign{
	text-decoration:none;
	color:black; 
	font-family:"华文仿宋";
	font-size:13px;/* 10pt */
}
.mess{
	color:red;
	font-size:12px;
	font-weight:bold;
}

#username,#password{
	text-align:center;
	height:30px;
	width:250px;
	margin-left:3px;
}
#button_login{
	height:40px;
	width:315px;
	text-align:center;
	margin-top:10px;
	
}
.validcode{
	float:left;
	margin-left:8px;
}
.div_button_login{
	text-align:center;
	margin-left:10px;
}
.div_login_title{
	margin-top:20px;
	margin-bottom: 20px;
}
.div_login_bottom{
	margin-bottom: 15px;
}
#checkCode_input{
	width:80px;
	height:35px;
}
#checkCode_change{
	font-size:12px;
	color:red;
	font-weight:bold;
}
#CreateCheckCode_img{
	align-content: right;
}
#checkCode_input_div,#CreateCheckCode_img_div{
	margin-right:20px;
}
#checkCode_input_div,#CreateCheckCode_img_div,#checkCode_change_div{
	float:left;

}
#checkCode_input_div{
	margin-left:13px;
}

