body{
 	height:100%;
	width:100%; 
	background-image:url(../images/lunbo/timg.jpg);
	background-repeat:no-repeat;
	display:block;
	text-align:center;
	background-size:100% 100%;
	background-attachment:fixed;
	opacity:0.88;
}
.container{
	position:absolute; 
	top:30%; 
	left:50%; 
	margin:-15em 0 0 -20em; 
	width:45em; 
	height:45em; 
}
.allresign{
	background:hsla(0,0%,100%,3);
	text-align:center;
	width:43em;
	height:44em;
	border-radius:0.5em;	
}

.button{
	height:3.7em;
	width:36.5em; 
	background:#0080ff;
	border:none;
	border-radius:0.5em;	
}		
.button:active{
	background:#000080;
	color:black;
	font-weight;bold;
}
.button:hover{
	background:#0080c0;
	color:black;
	font-weight;bold;
}
.text,.textpass{
	height:4em;
	width:30em;
	border-left:none;
	border-top:none;
	border-right:none;
	padding-left:7em;	
}

.text,.button,,.textpass{
	margin-right:5em;
	border-radius:0.5em;
}

.text{
	background:url(../images/background/head.png) no-repeat 0 center;
}
.textpass{
	background:url(../images/background/suo.png) no-repeat 0 center;
}

.login_resign{
	text-decoration:none;
	color:black; 
	font-family:"华文仿宋";
	font-size:1.3em;/*10pt  */
}
.mess{
	color:red;
	font-size:1.2em;
	font-weight:bold;
}


