#tablemess{
	border:10px solid #eae8e6;
}
#tabletitle{
	text-aglin:center;
	font-weight:bold;
	text-decoration:blink;
	text-decoration-color:blue;
	background-color:#ffc184;
	color:black;
}
#textcontent{
	font-size:1.8em;
	font-weiht:bold;
	border:none;
	overflow:hidden;
	height:100%;
	width:100%;
}
#tablecontent{
	font-size:1.8em;
	font-weiht:bold;
	text-aglin:center;
	
}
h2{
	font-size:2.5em;
	text-aglin:center;
	color:blue;
}
.button{
	border-radius:0.8em;
	width:8em;
	height:2.7em;
	background:#ffc184;
}
.textseacher{
	border-radius:1em;
	width:23em;
	height:2em;
}
.subform{
	width: 50%;
	height:30%;
	margin: 20em auto;
	margin-top:4em;

}
#submit_text{
	font-family:"华文宋体";
	font-size:1.3em;/* 10pt */
	font-weight:bold;
}
.sm_b{
	width:4em;
	height:4em;
	border-radius:0.5em;
}