img{
	width;100%;
}
#li_img{
	width:80em;
	float:left;
	list-style:none;
}
#ul_img{
	width:600em;
	padding:0em;
	margin:0em;
	transition:all 2s;
}
#main_div{
	width:80em;
	overflow:hidden;
	position: relative;
	top:10em;
	left:35em;
}
#arrows{
	z-index:9999;
	position:absolute;
	padding-top:23em;
	width:80em;
}
#arrows span{
	font-size:3em;
	color:seashell;
}
#arrows span:hover{
	/*变小手  */
	cursor:pointer;
	background-color:rgba(192,192,192,0.29);
}
#div_btn{
	float:left;
	border-radius:10em;
	background-color:aquamarine;
	width:6em;
	height:1em;
	margin-left:1em;
	margin-top:13em;
}
#div_btn:hover{
	background-color:aqua;
}








