<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShoppingWeb</display-name>
    <context-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <filter>
  		<filter-name>openSessionInViewFilter</filter-name>
  		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
  	</filter>
  	
  	<filter-mapping>
  		<filter-name>openSessionInViewFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  <filter>
  	<filter-name>Struts2</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
    <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>user_.getUsername()</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--   <filter>
    <filter-name>EncodeFileter</filter-name>
    <filter-class>web.service.filter.EncodFilter</filter-class>
  </filter>
  <filter>
    <filter-name>adminFileter</filter-name>
    <filter-class>web.service.filter.adminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFileter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminFileter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>goodshowServlet</servlet-name>
    <servlet-class>web.service.servlet.goodshowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passServlet</servlet-name>
    <servlet-class>web.service.servlet.passServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reServlet</servlet-name>
    <servlet-class>web.service.servlet.resginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>realRegiterServlet</servlet-name>
    <servlet-class>web.service.servlet.realRegiterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cartServlet</servlet-name>
    <servlet-class>web.service.servlet.cartsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageBoardServlet</servlet-name>
    <servlet-class>web.service.servlet.MessageBoardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageTakeServlet</servlet-name>
    <servlet-class>web.service.servlet.MessageTakeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataByPageServlet</servlet-name>
    <servlet-class>web.service.servlet.DataByPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelpPageServlet</servlet-name>
    <servlet-class>web.service.servlet.HelpPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delgoodServlet</servlet-name>
    <servlet-class>web.service.servlet.delcartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mycartServlet</servlet-name>
    <servlet-class>web.service.servlet.MyCartsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SumServlet</servlet-name>
    <servlet-class>web.service.servlet.sumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>web.service.servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delallcartServlet</servlet-name>
    <servlet-class>web.service.servlet.DelAllCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lookorderServlet</servlet-name>
    <servlet-class>web.service.servlet.LookOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delorderServlet</servlet-name>
    <servlet-class>web.service.servlet.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sbcServlet</servlet-name>
    <servlet-class>web.service.servlet.StrogeBuyCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DAServlet</servlet-name>
    <servlet-class>web.service.servlet.DetailAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>nbServlet</servlet-name>
    <servlet-class>web.service.servlet.NowBuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>stsServlet</servlet-name>
    <servlet-class>web.service.servlet.StorageTransferStationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>miServlet</servlet-name>
    <servlet-class>web.service.servlet.MyInforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>spServlet</servlet-name>
    <servlet-class>web.service.servlet.setpasswordServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>PictureCheckCode</servlet-name>
  <servlet-class>web.service.servlet.PictureCheckCode</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>goodshowServlet</servlet-name>
    <url-pattern>/showlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reServlet</servlet-name>
    <url-pattern>/ResginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>realRegiterServlet</servlet-name>
    <url-pattern>/realServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cartServlet</servlet-name>
    <url-pattern>/cartgoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageBoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageTakeServlet</servlet-name>
    <url-pattern>/TakeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataByPageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelpPageServlet</servlet-name>
    <url-pattern>/helppageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delgoodServlet</servlet-name>
    <url-pattern>/delcartgoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mycartServlet</servlet-name>
    <url-pattern>/mycartgoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SumServlet</servlet-name>
    <url-pattern>/SumIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/myorderlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delallcartServlet</servlet-name>
    <url-pattern>/delallcartsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lookorderServlet</servlet-name>
    <url-pattern>/lookordersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delorderServlet</servlet-name>
    <url-pattern>/delordersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sbcServlet</servlet-name>
    <url-pattern>/StrogeMyCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DAServlet</servlet-name>
    <url-pattern>/DetailOrderAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>nbServlet</servlet-name>
    <url-pattern>/NowBuysServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stsServlet</servlet-name>
    <url-pattern>/StorageTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>miServlet</servlet-name>
    <url-pattern>/MyInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>spServlet</servlet-name>
    <url-pattern>/changepasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
 	 <servlet-name>PictureCheckCode</servlet-name>
  	<url-pattern>/PCCode</url-pattern>
 </servlet-mapping> -->
</web-app>