<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
        
         <!--加载propertie文件  -->
         <context:property-placeholder location="classpath:/config/c3p0-db.properties"/>
         
         <!--配置数据源 --> 
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        	<property name="driverClass" value="${jdbc.driverClass}"></property>
        	<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        	<property name="user" value="${jdbc.user}"></property>
        	<property name="password" value="${jdbc.password}"></property>
        </bean>
        
        <!--配置sessionFactory  -->
        <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
        </bean>
        
        <!--创建实体类与依赖注入  -->
  		<!-- 导入User -->
        <import resource="classpath:/config/User.xml"/>
        <!-- 导入Items -->
        <import resource="classpath:/config/Items.xml"/>
        <!-- 导入Cart -->
        <import resource="classpath:/config/Cart.xml"/>
        <!-- 导入Orders -->
        <import resource="classpath:/config/Orders.xml"/>
        
         <!--配置事务管理器  -->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        	<property name="dataSource" ref="dataSource"></property>
        	<!-- <property name="sessionFactory" ref="sessionFactory"></property> -->
        </bean>
        
        <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>